<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Select a club: </mat-label>
      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="clubsControl">
      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="300" (optionSelected)="onClubSelected($event)" [displayWith]="displayFn">
        <ng-container>
            <mat-option *ngFor="let club of clubs | async" [value]="club">
            <img class="example-option-img" aria-hidden [src]="club.logo" height="25">
            <span>{{club.name}}</span>
            </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </form>
