<mat-card>
  <mat-card-title>RBFA Kalender</mat-card-title>
  <nat-card-content>
    <mat-stepper [linear]="true" (selectionChange)="onSelectionChange($event)">
      <mat-step label="Kies club" [stepControl]="c.form">
        <app-clubs #c></app-clubs>
        <button mat-button matStepperNext [disabled]="!c.form.valid">Volgende</button>
      </mat-step>
      <mat-step label="Kies team" [stepControl]="t.form">
        <app-teams #t [teams]="teams"></app-teams>
        <button mat-button matStepperPrevious>Vorige</button>
        <button mat-button matStepperNext [disabled]="!t.form.valid">Volgende</button>
      </mat-step>
      <mat-step label="Open kalender">
        <app-open-calendar #o [team_id]="team_id"></app-open-calendar>
        <button mat-button matStepperPrevious>Vorige</button>
      </mat-step>
    </mat-stepper>
  </nat-card-content>
</mat-card>



